/*
*   Styles for USDA Contest Application
*   
*  Color Scheme: 	#4A6713 
*					#234311 
*					#DCDB45 
*					#9C7D23 
*					#F1DD9E
*
*/

html, body {
	font: 20px;
	background: url("../images/farm-background.jpg") no-repeat #F1DD9E;
	color: white;

}

.banner {
	height: 80px;
	background-color:  hsla(98, 60%, 16%, .3);
	color: #DCDB45; 
}
.banner-item {
	margin: 0 auto;
}

#graph {
	height: 500px;
}


#selectors > div {
	min-height: 10em;	
	padding: 2rem;				   
	border: 2px solid #9C7D23;
	border-radius: 25px;
}
#selectors > div > .form-group {
	margin: 1rem;
}

#selectors > div::after {
	clear: both;
}

#selectors > div > .form-group {
	width: auto;
}

#loadingModal {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-text {
    color: black;
    font-size: 86px;
    left: 5%;
    position: absolute;
    top: 18%;
    z-index: 1000;
}

.clearfix {
	clear: both;
}
.form-group > select > option {
	text-transform: uppercase;
}

.btn {
	width: 40%;
	float:left;
	margin: 1rem;
}

/**********************************
*       Masonry Grid Styles
***********************************/
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item {
	width: 30%;
}

.grid-item {
	float:left;
	background: hsla(98, 60%, 16%, .7);
	height: 120px;
	border: 2px solid hsla(0,0%,0%, 0.5);
	border-radius: 5px;
}

/* example of fixed position item */
.stamp {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20%;
  height: 90%;
}