/*
*   Styles for USDA Contest Application
*   
*  Color Scheme: 	#4A6713 
*					#234311 
*					#DCDB45 
*					#9C7D23 
*					#F1DD9E
*
*/

html, body {
	font: 20px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	background: url("../images/farm-background.jpg") no-repeat #F1DD9E;
	color: white;

}

h3, label {
	background: hsla(0, 0%, 0%, .3);
	padding: 1rem;
	border-radius: 25px;
	font-weight: 400;
}

.banner {
	background-color:  hsla(98, 60%, 16%, .3);
	color: white; 
	padding: 1rem 0 1rem 2rem;
}

.chart {
	height: inherit;
	width: inherit;
}

.spacer {
	height: 20px;
}

#selectors > div {
	overflow: auto;
	min-height: 10em;	
	padding: 2rem;				   
	border: 2px solid #9C7D23;
}
#selectors > div > .form-group {
	margin: 1rem;
	float: left;
}

#selectors > div::after {
	clear: both;
}

#selectors > div > .form-group {
	width: auto;
}

#loadingModal {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-text {
    color: black;
    font-size: 86px;
    left: 5%;
    position: absolute;
    top: 18%;
    z-index: 1000;
}

.loading{
	opacity: 0.7;
}

.clearfix {
	clear: both;
}



.form-group > select > option {
	text-transform: uppercase;
}

.btn {
	width: 30%;
	margin: 1rem;
}

/******bs3 navtabs********/
.nav-tabs > li > a {
	background-color: hsla(98, 60%, 16%, .7);
	color: white;
}

.nav-tabs > li:hover > a {
	background-color: hsla(98, 60%, 16%, .4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
 	background-color: #F1DD9E;
 	color: #333;
 }


/**********************************
*       Masonry Grid Styles
***********************************/

.grid {
}

.grid-sizer, .grid-item {
	width: 300px;
}

.grid-item {
	height: 300px;
	float: left;
	padding: 1rem;
	border: 2px solid black;
}


.grid-item-full {
	width: 100%;
	height: auto;
}

/* example of fixed position item */
.stamp {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20%;
  height: 90%;
}